// Article

main {
  padding-top: 500px;
  max-width: 950px;
  margin: auto;
}

section p {
  margin: auto;
  max-width: 750px;
    font-size: 22px;
}

main section {
  padding-bottom: 500px;
}

svg {
  margin-top: 50px;
  width: 100%;
  height: 60vh;
}

rect:hover {
  fill: white;
}
