// Article

main {
  padding-top: 500px;
  max-width: 1250px;
  margin: auto;
}

section p {
  margin: auto;
  max-width: 750px;
  font-size: 22px;
}

main section {
  min-height: 100%;
  padding-bottom: 500px;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

rect:hover {
  fill: white;
}

.logograph {
  display: block;
  margin: auto;
  min-width: 200px;
  width: 15vw;

}


.before {
  fill: #11A9BC;
  stroke: #11A9BC;
}

.after {
  fill: #e32636;
  stroke: #e32636;
}
