@import './variables.scss';

header {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0) );
}

#hero-canvas {
  position: absolute;
  background-color: black;
  z-index: -100;
}

.title {
  font-size: 8em;
  color: $text-color;
  font-family: 'Koulen', sans-serif;
  text-align: center;
  font-style: italic;
  // background-color: rgba(256,256,256,0.1);
}

.title-wrapper {
  padding: 50px;
}

.bitcoin {
  position:absolute;
  z-index: -1;
  background: radial-gradient(rgba(255,255,0,0.1),rgba(255,255,0,0));
}

.byline {
  flex-direction: row;
}
