@import './styles/reset.scss';
@import './styles/hero.scss';
@import './styles/article.scss';


// CUSTOM CSS

$text-color: #ffffff;

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

.chart-title {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-top: 100px;
}

// Hero
