@import './styles/reset.scss';
@import './styles/hero.scss';
@import './styles/article.scss';


// CUSTOM CSS

$text-color: #ffffff;

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

// Hero
